@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{ 
  margin: 0;
  padding: 0;
}

body {
  background: #1B3752;
}

section {
  text-align: center;
  color: #fff;
  height: 80vh;
  width: 70vw;
  margin: auto;
}

.container-cube {
    /*width: auto;*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
  padding: 50px;
}

.cube {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

.top, .bottom { 
    background: #5B0101;
    color: #5B0101;
}

.right, .left { 
    background: #363636;
    color: #363636;
}

.front, .back {
  background: #10426B;
  color: #10426B;
}



.face {
    position: absolute;
    width: 100px;
    height: 100px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.front  { transform: rotateY(0deg) translateZ(52px); }
.back   { transform: rotateY(180deg) translateZ(52px); }
.left   { transform: rotateY(-90deg) translateZ(52px); }
.right  { transform: rotateY(90deg) translateZ(52px); }
.top    { transform: rotateX(90deg) translateZ(52px); }
.bottom { transform: rotateX(-90deg) translateZ(52px); }

@keyframes rotate {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(180deg) rotateY(180deg); }
}

h1 {
  font-family: 'Marvel';
  margin: 0
}

p {
  font-family: 'Dosis';
  margin: 0;
}
